[submodule "libraries/QwerteKicad-Libraries"]
	path = libraries/QwerteKicad-Libraries
	url = git@github.com:Mr-Tinkerman/QwerteKicad-Libraries.git
[submodule "firmware/external/LinkCore"]
	path = firmware/external/LinkCore
	url = git@github.com:Mr-Tinkerman/LinkCore.git
