[submodule "firmware/external/LinkCore"]
	path = firmware/external/LinkCore
	url = git@github.com:Mr-Tinkerman/LinkCore.git
[submodule "kicad/lib/QwerteKicad-Libraries"]
	path = kicad/lib/QwerteKicad-Libraries
	url = git@github.com:Mr-Tinkerman/QwerteKicad-Libraries.git
